
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
    }
 
html, body, div { 
    margin: 0; 
    padding: 0; 
    }

h1, h2 { 
    font-weight: normal; 
    margin-bottom: 0; 
    }

a { 
    color: #1f1f1f; 
    }

#header { 
    background: #f3f3f3; 
    font-family: 'Cousine', monospace;
    font-size: 14px;
    color: #1f1f1f; 
    }
    
#footer { 
    background: #f3f3f3; 
    font-family: 'Cousine', monospace;
    font-size: 14px; 
    line-height: 1.5; 
    color: #3f3f3f; 
    }
    
#main { 
    background: #f3f3f3; 
    font-family: 'Cousine', monospace;
    font-size: 14px; 
  /*text-align: justify;*/
    line-height: 1.5; 
    color: #3f3f3f; 
    }

#header img {
    display: block;
    width: 740px;
    margin: 0;
    padding: 0;
    }
#toppanel {
    background: #ffffff;
    margin: 0;
    width: 750px;
    padding: 5px;
    }

.wrap     { 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 1em; 
    }
    
#primary  { 
    max-width: 800px; 
    margin: 0 auto; 
    }

.center { 
    position: relative; 
    }
.center img { 
    display: block;
    position: absolute;
    max-height:165px;
    max-width: 165px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

div.columns { 
    min-width: 800px; 
    margin-top: 15px;
    margin-bottom: 15px; 
    }
div.columns div { 
    height:175px ; 
    float: left;  
    }
div.col11 { 
    width: 175px ; 
    background-color: #ffffff ;
    }
div.col22 { 
    width: 600px ; 
    padding:10px ;
    }
div.clear { clear: both ; }



